.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .hero.section {
    padding: 0;
  }
  .strengths.section {
    padding-bottom: 0;
  }
  .our-team.section {
    background-color: $background-color-gray;
  }

