  
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$main-color: #212121;
$white-color: #ffffff;
$blue-color: #2196f3;
$gray-color: #757575;
$social-color: #afb1b8;
$light-gray-color: rgba(117, 117, 117, 0.5);
$background-color-dark: #2f303a;
$background-color-gray: #f5f4fa;
$background-social: rgba(255, 255, 255, 0.1);
$opacity-color: rgba(255, 255, 255, 0.6);
$border-color: rgba(255, 255, 255, 0.3);
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
